<div id="mw-wrapper" class="min-h-screen">
	{{>Navigation}}
	<main class="mt-16 md:mt-20">
		<!--Hero Component-->
		<div class="relative text-white">
            	<img alt="Our story" class="absolute inset-0 object-cover w-full h-full" style="z-index: -1" loading="lazy" srcset="https://scontent.fcrk1-1.fna.fbcdn.net/v/t39.30808-6/254579233_441296520686123_7054597398768948874_n.jpg?_nc_cat=107&_nc_rgb565=1&ccb=1-5&_nc_sid=730e14&_nc_ohc=56pP8Aizl0MAX_FppFR&_nc_ht=scontent.fcrk1-1.fna&oh=76a564216d30107da8b6d0e9ac564233&oe=61998F7F" width="1920" height="1080">
				<span class="absolute inset-0 bg-pink-leni bg-opacity-40" style="z-index: -1"></span>
				<div class="container max-w-4xl py-8 mx-auto">
					<div class="mx-auto my-8 text-center sm:w-2/3 md:my-16 lg:my-36">
						{{#data-search-box}}
						<form action="{{form-action}}" role="search" class="flex flex-row justify-center mw-portlet" id="p-search">
							<input type="hidden" name="title" value="{{page-title}}">
							{{{html-input}}}
							{{{html-button-search}}}
						</form>
						{{/data-search-box}}
					</div>
				</div>
		</div>
			
		<div class="flex flex-col py-2 mx-auto text-center md:py-4 flex-items-center md:max-w-6xl">
			<h1 class="text-2xl font-bold font-black uppercase firstHeading text-black-leni" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
			<div class="flex flex-row mw-indicators mw-body-content">
				{{#array-indicators}}
					<div id="{{id}}" class="{{class}}">{{{html}}}</div>
				{{/array-indicators}}
			</div>
		</div>
		
		<div class="flex flex-col px-2 pb-2 md:mx-auto md:pb-4 md:max-w-6xl gap-y-2">

			{{! Switch template context to data for all menus }}
			<div id="data-portlets">
				{{#data-portlets}}
		
				{{/data-portlets}}
			</div>

			<div id="siteNotice">
				{{{html-site-notice}}}
			</div>
			
			{{{html-user-message}}}

			
			<div id="siteSub">{{msg-tagline}}</div>
			
			<!-- After Content -->
			<div class="mw-body-content">
			
				<div id="contentSub">
					{{{html-subtitle}}}
					{{{html-undelete-link}}}
				</div>
				<div>
					{{{html-body-content}}}
				</div>
				
			</div>
			
			<div class="mt-4">								
			<!-- Categories -->
			{{{html-categories}}}
			</div>
			
			<!-- After Content -->
			{{{html-after-content}}}
		</div>
	</main>

</div>
{{>Footer}}