<div id="mw-wrapper" class="min-h-screen">
	{{>Navigation}}
	<main class="mt-16 md:mt-20">
		{{>Hero}}
		{{#showPageToolbar}}
			<div class="flex flex-col text-center bg-gray-100 flex-items-center">
				<ul class="flex flex-row gap-4 mx-auto" 
					x-data="{
					action: '',
				}"
					x-init="
						action = sessionStorage.getItem('x-action') || '';
					"
				>
					<li class="px-2 py-2" x-bind:class="{ 'border-t-4 border-pink-600': action == '' }">
						<a @click="action=''; sessionStorage.setItem('x-action', '');"  
							href="?title={{title}}"
						>
							Read
						</a>
					</li>
					<li class="px-2 py-2" x-bind:class="{ 'border-t-4 border-pink-600': action == 'history' }">
						<a @click="action='history'; sessionStorage.setItem('x-action', 'history');"
							href="?title={{title}}&action=history"
						>
							History
						</a>
					</li>
					<li id="ca-ve-edit" class="px-2 py-2" x-bind:class="{ 'border-t-4 border-pink-600': action == 'edit' }">
						<a @click="veaction='edit'; sessionStorage.setItem('x-action', 'edit');"
							href="?title={{title}}&veaction=edit"
						>
							Create
						</a>
					</li>
					<li id="ca-edit" class="px-2 py-2" x-bind:class="{ 'border-t-4 border-pink-600': action == 'edit' }">
						<a @click="action='edit'; sessionStorage.setItem('x-action', 'edit');"
							href="?title={{title}}&action=edit"
						>
							Edit
						</a>
					</li>
				</ul>
			</div>
		{{/showPageToolbar}}
		
		{{#isMainPage}}
			<ul x-data="{ assetPath: '{{assetsPath}}', ...GetAllCategories()}" class="grid grid-cols-1 gap-2 px-2 py-16 mx-auto md:gap-4 lg:grid-cols-3 md:grid-cols-3 md:max-w-5xl md:px-0">
				<template x-for="category in data">
					<li>
						<div class="flex flex-col">
							<h3 class="py-4 text-xl font-bold uppercase white text-black-leni y-2 -z-1" x-text="category['*']"></h3>
							<div class="relative border rounded-lg">
								<a :href="'?title=Category:'+category['*']" class="rounded-lg">
									<div class="aspect-w-16 aspect-h-9"></div>
									<img class="absolute inset-0 object-cover w-full h-full rounded-lg -z-1" :src="assetPath+category['*']+'.jpeg'" width="960" height="1280">
									
								</a>
							</div>
						</div>
					</li>
				</template>
			</ul>
		{{/isMainPage}}
		
		{{^isMainPage}}
			<div class="flex flex-col p-2 mx-auto text-center md:py-4 flex-items-center md:max-w-4xl">
				<h1 class="text-4xl font-bold font-black uppercase firstHeading text-black-leni" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
				<div class="flex flex-row mw-indicators mw-body-content">
					{{#array-indicators}}
							<!-- <div id="{{id}}" class="{{class}}">{{{html}}}</div> -->
					{{/array-indicators}}
				</div>
			</div>
			<div id="content" class="flex flex-col px-2 py-2 md:mx-auto md:pb-4 md:max-w-4xl gap-y-2">
			
				<div id="data-portlets">
					{{#data-portlets}}
			
					{{/data-portlets}}
				</div>
				
				<div id="siteNotice">
					{{{html-site-notice}}}
				</div>
				
				{{{html-user-message}}}

				<!--
				<div id="siteSub">{{msg-tagline}}</div>
				-->
				
				<!-- After Content -->
				<div class="min-w-full mx-auto mw-body-content">
				
					<div id="contentSub">
						{{{html-subtitle}}}
						{{{html-undelete-link}}}
					</div>
					
					{{{html-body-content}}}
					
				</div>
				
				<!-- After Content -->
				{{{html-after-content}}}
			
			</div>
		{{/isMainPage}}
		
	</main>
</div>

{{^isMainPage}}
	<div class="grid grid-cols-1 py-2 mx-auto md:grid-cols-5">								
		<!-- Categories -->
		<div class="md:col-start-2 md:col-span-3">
			{{{html-categories}}}
		</div>
	</div>
{{/isMainPage}}
				
{{>Footer}}