<div id="mw-wrapper" class="min-h-screen">
	{{>Navigation}}
	<div class="mw-body" id="content" role="main">
		[[File:leni-logo-landscape.png]]
		[[File:Example.jpg|20px|link=MediaWiki]]
		<div id="siteNotice">{{{html-site-notice}}}</div>
		{{{html-user-message}}}
		<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
		<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
		</div>
		<h1 class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
		<div id="siteSub">{{msg-tagline}}</div>
		<div class="mw-body-content">
			<div id="contentSub">
				{{{html-subtitle}}}
				{{{html-undelete-link}}}
			</div>
			{{{html-body-content}}}
			<!-- todo: replace with .mixin-clearfix -->
			<div class="visualClear"></div>
			{{{html-categories}}}
		</div>
		{{{html-after-content}}}
	</div>
	{{>Footer}}
</div>
